<div class="register-sec-w3l jarallax" id="book">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <h1>צור קשר</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-12">
       <h2>אנחנו תמיד כאן לשרותך</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" >
        <hr class="line" >
      </div>
    <div class="book-appointment" data-aos="zoom-in">
      <form (submit)="addUser()">
        <div class="gaps">
          <p></p>
          <input type="text" name="name" placeholder="שם" required="" class="textStyle" 
          [(ngModel)]= "user.name" />
        </div>
        <div class="gaps">
          <p></p>
          <input type="email" name="email" placeholder="מייל" required="" class="textStyle" 
          [(ngModel)]= "user.email"/>
        </div>
        <div class="gaps">
          <p></p>
          <input type="text" name="phone" placeholder="פלאפון" required="" class="textStyle" 
          [(ngModel)]= "user.phone"/>
        </div>
        <div class="gaps">
          <textarea name="message" placeholder="..הודעה" required="" class="textStyle"
          [(ngModel)]= "user.message"></textarea>
        </div>
        <input type="submit" value="שלח">
      </form>
    </div>
    
  </div>
</div>