.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    border:1px solid white;
}
ul.navi {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
    border:1px solid white;
    
}
nav.black ul {
    background: #000;
}
 li.word {
    display: inline-block;
    padding: 16px 40px;
    
    
}

 a.wordText {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: gray;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    
    
}
.menu{

    border:1px solid black;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    ul.navi {
          max-height: 0px;
          background: #000;
    }

    .black  {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    li.word{
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}