<div class="menu-icon">
  <i class="fa fa-bars fa-2x"></i>
</div>

<div class="logo">
    LOGO
  </div>
<div class="menu">
    <ul class="navi">
          <li class="word"><a class="wordText" href="#">Home</a></li>
          <li class="word"><a class="wordText" href="#">About</a></li>
          <li class="word"><a class="wordText" href="#">Blog</a></li>
          <li class="word"><a class="wordText" href="#">Contact</a></li>
    </ul>
  </div>
  <input type="button" id="btn1" value="click" />

<!-- https://www.youtube.com/watch?v=ZeL2IL-dLuM -->