.a_nav{
	color:white;
	width: 180px;
	text-align:center;
	
}
#myNavbar{
    margin: 0 auto;
 
}
#allNav{
    background-color:grey;
    border-radius: 0px;
}

  .navbar li a, .navbar .navbar-brand {
      color: white; 
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #006dcc !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

.icon-bar{
	background-color:white;
}