<div class="logo">
  LOGO
</div>

<div class="menu-icon">
  <i class="fa fa-bars fa-2x"></i>
</div>
<div class="menu">
    <ul class="navi">
          <li class="word"><a class="wordText" href="#">סוגי אירועים</a></li>
          <li class="word"><a class="wordText" href="#">השכרת ציוד</a></li>
          <li class="word"><a class="wordText" href="#">גלריה</a></li>
          <li class="word"><a class="wordText" href="#">מי אנחנו</a></li>
          <li class="word"><a class="wordText" href="#">הלקוחות שלנו</a></li>
          <li class="word"><a class="wordText" href="#">צור קשר</a></li>
    </ul>
  </div>
