<div class="logo">
  LOGO
</div>

<div class="menu-icon">
  <i class="fa fa-bars fa-2x"></i>
</div>
<div class="menu">
    <ul class="navi">
          <li class="word"><a class="wordText" href="#">צור קשר</a></li>
          <li class="word"><a class="wordText" routerLink="gallery">גלריה</a></li>
          <li class="word"><a class="wordText" href="#customers">הלקוחות שלנו</a></li>
          <li class="word"><a class="wordText" href="#about">עלינו</a></li>
          <li class="word"><a class="wordText" href="#equipment">השכרת ציוד</a></li>
          <li class="word"><a class="wordText" href="#events">סוגי אירועים</a></li>
    </ul>
  </div>
