<div class="container-fluid box">
  <div class="row ">
    <div class="col-sm-12">
      <h1>סוגי אירועים</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12">
     <h2>מגוון אירועים מכל מיני סוגים</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" >
      <hr class="line" >
    </div>
  </div>
  <div class="container" style="margin-top:6%;">
  <div class="row">
    <div  *ngFor="let event of events" class="col-sm-4 agileits_services_grid" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
      <div class="w3_agile_services_grid1">
        <img src="{{event.picSrc}}" alt=" " class="img-responsive">
        <div class="w3_blur"></div>
      </div>
      <h3>{{event.nameOfEvent}}</h3>
      <p>{{event.descOfEvent}}</p>
      <div class="w3layouts_more">
        <a href="#" class="scroll">צור קשר</a>
      </div>
    </div>
  </div>
  </div>
  <div class="p p-1"></div>
  <div class="p p-2"></div>
  <div class="p p-3"></div>
</div> 
