<div class="container-fluid box">
  <div class="row ">
    <div class="col-sm-12">
      <h1>סוגי אירועים</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12">
     <h2>מגוון אירועים מכל מיני סוגים</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" >
      <hr class="line" >
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-4 agileits_services_grid" data-aos="fade-right">
      <div class="w3_agile_services_grid1">
        <img src="../assets/img/g1.jpg" alt=" " class="img-responsive">
        <div class="w3_blur"></div>
      </div>
      <h3>SPECIAL PROGRAMS</h3>
      <p>Enjoy the event throughout the entire night and do not sleep till the morning easy.</p>
    </div>
  </div>
  </div>

</div>