<main>
    <section>
        <app-slider-picture-section id="slider"></app-slider-picture-section>
    </section>
    <section>
        <app-events id="events"></app-events>
    </section>
    <section>
        <app-equipment-for-rent id="equipment"></app-equipment-for-rent> 
    </section>
    <section>
        <app-about-us id="about"></app-about-us>
    </section>
    <section>
        <app-customers id="customers"></app-customers>
    </section>
    <section>
        <app-contact-us id="contact-us"></app-contact-us>
    </section>
</main>