    <div class="h-100 row align-items-center text-center" >
        <div class="slider-info" data-aos="zoom-in">
            <h6>סמיילי הפקות מציגים</h6>
            <h1>מסיבת פולמון שתמיד חלמת</h1>

            <div class="more-button">
                <a href="#" data-toggle="modal" data-target="#myModal">עוד מידע</a>
            </div>
        </div>
    </div>
    <div class="bg w3-animate-left"  *ngFor="let bgImages of listOfImages" [style.backgroundImage]="'url('+ bgImages.bgImage +')'">
    </div>
     